:root {
  --color-primary: #0D6EFD;
  --bg-color:#f9fafc;
  --color-text: #202020;
  --color-border: #e5e5e5;
  --navi-color:#494949;
  --radius-md: 8px;
  --font-sm: 14px;
  --font-md: 15px;
  --search-input:#cbcbcb;
}
