:root {
  --color-primary: #0D6EFD;
  --bg-color:#f9fafc;
  --color-text: #202020;
  --color-border: #e5e5e5;
  --navi-color:#494949;
  --radius-md: 8px;
  --font-sm: 14px;
  --font-md: 15px;
  --search-input:#cbcbcb;
  --color-primary-hover: #0B5ED7;
  --color-primary-light: #edf3fb;
  --color-accent: #20C997;        /* success */
  --color-danger: #DC3545;        /* error / deadline */
  --color-warning: #FFC107;       /* notice (optional) */
  --pastel-blue: #eef4ff;
  --pastel-mint: #eef4ff;
  --pastel-light-blue: #f8fbff;
  --pastel-yellow: #fffa9f;
  --pastel-pink: #FDECEF;
  --pastel-purple: #F1ECFF;
  --pastel-red: #ffe2f0;
  --btn-secondary: #EAEAEA;
  --btn-outline-color:#c2c2c2;
  --btn-light-gray:#ebebeb;
  --color-light-gray:#f7f7f7;
}
