<nav class="bottom-nav bottom-nav--mobile d-lg-none">
  <ul class="bottom-nav__list">

    <!-- 지역/직무 -->
    <li class="bottom-nav__item bottom-nav__item--search">
      <a href="/subPage/search.html" class="bottom-nav__link">
        <img src="/assets/icons/i_map.png" alt="" class="bottom-nav__icon">
        <span class="bottom-nav__label">지역/직무</span>
      </a>
    </li>

    <!-- 위탁사 -->
    <li class="bottom-nav__item bottom-nav__item--partner">
      <a href="/subPage/company-list.html" class="bottom-nav__link">
        <img src="/assets/icons/i_company.png" alt="" class="bottom-nav__icon">
        <span class="bottom-nav__label">위탁사</span>
      </a>
    </li>

    <!-- 홈 -->
    <li class="bottom-nav__item bottom-nav__item--home is-active">
      <a href="/index.html" class="bottom-nav__link">
        <img src="/assets/icons/i_home.png" alt="" class="bottom-nav__icon">
        <span class="bottom-nav__label">홈</span>
      </a>
    </li>

    <!-- 고객센터 -->
    <li class="bottom-nav__item bottom-nav__item--cs">
      <a href="#" class="bottom-nav__link">
        <img src="/assets/icons/i_center.png" alt="" class="bottom-nav__icon">
        <span class="bottom-nav__label">고객센터</span>
      </a>
    </li>

    <!-- 마이페이지 -->
    <li class="bottom-nav__item bottom-nav__item--mypage">
      <a href="#" class="bottom-nav__link">
        <img src="/assets/icons/i_user.png" alt="" class="bottom-nav__icon">
        <span class="bottom-nav__label">마이페이지</span>
      </a>
    </li>

  </ul>
</nav>
