<!-- 모바일 하단 네비 -->
<nav class="bottom-nav bottom-nav--mobile d-lg-none">
    <ul class="bottom-nav__list">
        <!-- 지역/직무 -->
        <li class="bottom-nav__item bottom-nav__item--search">
            <a href="#" class="bottom-nav__link bottom-nav__link--search">
                <i class="fa-solid fa-location-dot bottom-nav__icon"></i>
                <span class="bottom-nav__label">지역/직무</span>
            </a>
        </li>
        <!-- 위탁사 -->
        <li class="bottom-nav__item bottom-nav__item--partner">
            <a href="#" class="bottom-nav__link bottom-nav__link--partner">
                <i class="fa-solid fa-building bottom-nav__icon"></i>
                <span class="bottom-nav__label">위탁사</span>
            </a>
        </li>
        <!-- 홈 -->
        <li class="bottom-nav__item bottom-nav__item--home is-active">
            <a href="#" class="bottom-nav__link bottom-nav__link--home">
                <i class="fa-solid fa-house bottom-nav__icon"></i>
                <span class="bottom-nav__label">홈</span>
            </a>
        </li>
        <!-- 고객센터 -->
        <li class="bottom-nav__item bottom-nav__item--cs">
            <a href="#" class="bottom-nav__link bottom-nav__link--cs">
                <i class="fa-solid fa-headset bottom-nav__icon"></i>
                <span class="bottom-nav__label">고객센터</span>
            </a>
        </li>
        <!-- 마이페이지 -->
        <li class="bottom-nav__item bottom-nav__item--mypage">
            <a href="#" class="bottom-nav__link bottom-nav__link--mypage">
                <i class="fa-regular fa-user bottom-nav__icon"></i>
                <span class="bottom-nav__label">마이페이지</span>
            </a>
        </li>
    </ul>
</nav>