<!-- PC footer -->
<div class="apt-footer d-none d-lg-block">
    <div class="container">
        <!-- 상단 링크 영역 -->
        <div class="apt-footer__links">
            <a href="#">이용약관</a>
            <span class="divider">|</span>
            <a href="#">개인정보처리방침</a>
            <span class="divider">|</span>
            <a href="#">포트폴리오 안내</a>
        </div>

        <!-- 회사 정보 -->
        <div class="apt-footer__info">
            <p>
                본 사이트는 개인 포트폴리오용으로 제작된 프로젝트입니다.<br>
                실제 기업, 채용 정보와는 무관하며 상업적 목적이 없습니다.
            </p>
            <p class="copyright">
                 © 2026 Na Seul. All rights reserved.
            </p>
        </div>
    </div>
</div>

<!-- Mobile footer -->
<div class="apt-footer-mobile d-lg-none">
    <div class="container">
        <!-- 링크 영역 -->
        <ul class="apt-footer-mobile__links">
            <li><a href="#">이용약관</a></li>
            <span class="divider">|</span>
            <li><a href="#" class="is-strong">개인정보처리방침</a></li>
            <span class="divider">|</span>
            <li><a href="#">포트폴리오 안내</a></li>
        </ul>
        <!-- 회사 정보 -->
        <div class="apt-footer-mobile__info">
            <p class="copyright">© 2026 Na Seul. All rights reserved.</p>
        </div>
    </div>
</div>