@use './base/global';
@use './components/component';


/* pages */
#pages {
   background-color: var(--bg-color);
   padding-bottom: 50px;
   /* carousel */
   .top-carousel {
      padding-top: 30px;
      .carousel {
         .carousel-inner {
            border-radius: 10px;
            .carousel-item img {
               width: 100%;
               height: auto;
            }
         }
      }
   }
}

@media (max-width: 767px) {
   #pages {
      .top-carousel .carousel-item {
         height: 250px; 
         min-height: 250px; 
         overflow: hidden;
         background-color: rgb(0, 0, 0);
      }
      .top-carousel .carousel-item img {
         width: 100%;
         height: 120%;
         object-fit: cover;
         object-position: center center;
      }
   }
}
