@use '../base/global';

/* ==============================
   Header / Navbar
================================ */
.site-navbar {
    box-shadow: 0 2px 6px #c6c6c6;
    /* 1단 */
    .site-navbar__top {
        .site-logo {
            img {
                height: 42px;
            }
        }
        .site-search--pc {
            width: 65%;
            .site-search__wrapper {
                position: relative;
                width: 100%;
            }
            .site-search__icon {
                position: absolute;
                left: 14px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 16px;
                color: #999;
                pointer-events: none;
            }
            .site-search__input {
                width: 100%;
                padding: 8px 12px 8px 42px; 
                border-radius: 5px;
                border: 1px solid var(--search-input);
                background-color: var(--bg-color);
            }
            .site-search__wrapper:focus-within {
                .site-search__icon {
                color: var(--color-primary);
                }
            }
        }
        .site-partner {
            display: inline-flex;
            align-items: center; 
            font-weight: 600;
            font-size: 16px;
            color: #0C3779;
            text-decoration: none;
            border:1px solid var(--search-input);
            padding: 4px 8px;
            border-radius: 10px;
            &::before {
                content: "";
                width: 32px;
                height: 32px;
                background-image: url('/assets/images/etesys_icon2.png');
                background-repeat: no-repeat;
                background-size: cover;
                flex-shrink: 0; 
            }
        }
        /* 햄버거 버튼 */
        .site-hamburger {
            width: 50px;
            border: 1px solid var(--color-border);
            border-radius: 5px;
            padding: 6px;
            &:focus {
                box-shadow: none;
            }
            .navbar-toggler-icon {
                width: 20px;
            }
        }
    }
    /* 모바일 검색바 */
   .site-search--mobile {
        .site-search__wrapper {
            position: relative;
            width: 100%;
        }

        .site-search__icon {
            position: absolute;
            left: 14px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 16px;
            color: #999;
            pointer-events: none;
        }

        .site-search__input {
            padding: 10px 12px 10px 42px;
            border-radius: 6px;
            font-size: 15px;
            background-color: var(--bg-color);
        }
    }
    /* 2단 */
    .site-nav {
        .site-nav__inner {
            .site-nav__menu {
                .site-nav__item {
                    font-weight: 700;
                    .site-nav__link {
                        color:var(--navi-color);
                    }
                    .site-nav__dropdown {
                        .dropdown-item {
                            color:var(--navi-color);
                            font-size: 14px;;
                        }
                    }
                }
            }
            .site-util {
                .site-util__link {
                    color: var(--navi-color);
                    font-weight: 600;
                }
                .site-util__btn {
                    font-weight: bold;
                    padding: 5px 15px;
                }
            }
        }
    }
}

/* Top Button */
.back-to-top {
    position: fixed;
    right: 24px;
    bottom: 30px;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    border: none;
    background: #ffffff;
    border: 1px solid #ddd;
    color: #333;
    display: grid;
    place-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transform: translateY(16px) scale(0.95);
    opacity: 0;
    pointer-events: none;
    transition:
        opacity 220ms ease,
        transform 220ms ease;
    z-index: 9999;
}
