/* =========================================================
   Company List
========================================================= */
.company-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    margin-top: 30px;
}

/* 카드 */
.company-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 160px;
    padding: 20px;
    background: #fff;
    border-radius: 16px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: all 0.25s ease;
}

/* 로고 */
.company-card__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-bottom: 14px;
    img {
        max-height: 100%;
        max-width: 120px;
        object-fit: contain;
    }
}

/* 회사명 */
.company-card__name {
    font-size: 15px;
    font-weight: 600;
    color: #111;
    text-align: center;
}

/* =========================
   Hover Effect
========================= */
.company-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transform: translateY(-6px);
}
/* 태블릿 */
@media (max-width: 1200px) {
    .company-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 중형 태블릿 */
@media (max-width: 768px) {
    .company-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
    }
}

/* ============================================
    company-detail.html
==============================================*/
#companyDetail {
    padding-top: 40px;
}
.company-hero {
    &__title {
        h3 {
            font-weight: bold;
        }
    }
    &__home-btn {
        button {
            font-weight: bold;
            font-size: 1rem;
        }
    }
    &__banner {
        background-color: #011039 !important;
        border-radius: 10px;
        margin-top: 20px;
        background: url(/assets/images/company-hero_bg.png) right center no-repeat;
        margin-bottom: 30px;
    }
    &__logo-box {
        background-color: #fff;
        margin: 15px;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 50px;
        }
    }
    &__content {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .company-hero__headline {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 0;
        }
        .company-hero__desc {
            font-size: 1rem;
            margin-bottom: 0;
        }
    }
    &__tabs {
        &-item {
            background-color: var(--pastel-blue);
            padding: 10px;
            font-weight: 600;
            border: 1px solid #ccc;
            color: #666;
            text-decoration: none;
            text-align: center;
            /* 첫번째 */
            &:first-child {
                border-left: none;
            }

            /* 마지막 */
            &:last-child {
                border-right: none;
            }
            &:hover {
                background-color: var(--color-primary);
                color: #fff;
                transition: all 0.3s ease;
            }
            &:active,
            &:focus {
                background-color: var(--color-primary);
                color: #fff;
                border: 1px solid var(--color-primary);
            }
        }
    }
}

/* ================================
    소장채용 카드
================================ */
.director-card {
    position: relative;
    height: 100%;
    padding: 20px 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 14px;
    transition: all 0.25s ease;
    /* hover */
    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 10px 22px rgba(0, 0, 0, 0.08);
    }

    /* ====================
        즐겨찾기
    ==================== */
    &__favorite {
        position: absolute;
        top: 10px;
        right: 14px;
        border: none;
        background: transparent;
        font-size: 26px;
        color: #b8c2d1;
        cursor: pointer;
        transition: all 0.2s ease;
        background-color: #fff;
        &:hover {
            color: #ffb400;
        }
        &.is-active {
            color: #ffb400;
        }
    }
    /* ====================
        회사명
    ==================== */
    &__company {
        font-size: 16px;
        font-weight: 700;
        color: var(--color-primary);
        margin-bottom: 6px;
        display: block;
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /* ====================
        제목
    ==================== */
    &__title {
        font-size: 20px;
        font-weight: 700;
        color: #202020;
        margin-bottom: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* ====================
        태그
    ==================== */
    &__tags {
        color: #494949;
        margin-bottom: 8px;
        line-height: 1.4;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        .director-card__tag {
            font-size: 0.9rem !important;
            font-weight: 600 !important;
            background-color: transparent !important;
            padding: 0 !important;
            width: fit-content;
        }
    }
    /* ====================
        하단
    ==================== */
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* D-day */
    &__dday {
        font-size: 15px;
        font-weight: 600;
        color: var(--color-danger);
        background-color: var(--pastel-red);
        padding: 2px 8px;
        border-radius: 3px;
    }

    /* ====================
        상세보기 버튼
    ==================== */
    &__detail {
        font-size: 13px;
        font-weight: 600;
        padding: 8px 18px;
        border-radius: 6px;
        background: var(--color-primary);
        color: #fff;
        transition: all 0.2s ease;
    }
    &--empty {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f9fafc;
        border: 1px solid #ccc;
        &:hover {
            box-shadow: none;
            transform: none;
        }
    }
    &__empty {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    &__empty-img {
        width: 150px;
        margin-bottom: 12px;
    }
    &__empty-text {
        font-size: 1rem;
        font-weight: 600;
        color: #6c6c6c;
    }
}

/* 태블릿 */
@media (max-width: 1200px) {
    .company-hero {
        &__banner {
            background: none;
        }
        &__content {
            padding: 0 10px 10px;
        }
        &__logo-box {
            margin: 10px;
            img {
                height: 35px;
            }
        }
        &__home-btn {
            button {
                font-weight: bold;
                font-size: 0.8rem;
            }
        }
    }
    .company-hero__content .company-hero__headline {
        font-size: 1.3rem;
    }
    .company-hero__content .company-hero__desc {
        font-size: 1rem;
    }
    .director-section {
        h2 {
            font-size: 1.5rem;
        }
    }
    .director-card {
        &__tags {
            .director-card__tag {
                width: fit-content;
            }
        }
        &__empty {
            height: 155px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

/* 모바일 */
@media (max-width: 768px) {
    .company-hero {
        &__content {
            padding: 15px 10px;
        }
        &__banner {
            background: none;
            margin: 20px 0;
        }
        &__logo-box {
            margin: 10px 10px 0;
        }
        &__tabs {
            margin: 3px;
        }
    }
    .company-hero__content .company-hero__headline {
        font-size: 1.05rem;
    }
    .company-hero__content .company-hero__desc {
        font-size: 0.8rem;
    }
    .director-section {
        h2 {
            font-size: 1.3rem;
        }
    }
    .director-card {
        &__tags {
            .director-card__tag {
                width: 100%;
            }
        }
        &__empty {
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

/* 작은 모바일 */
@media (max-width: 576px) {
    .company-hero {
        &__tabs {
            font-size: 0.9rem;
        }
    }
    .director-card__favorite {
        top: 5px;
        right: 5px;
    }
    .director-card {
        &__company {
            font-size: 0.8rem;
        }
        &__title {
            font-size: 1rem;
        }
        &__tag {
            font-size: 0.7rem;
        }
        &__bottom {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: start;
        }

    }
}
